.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.card {
    border: 1px solid black;
    background: white;
    width: 70px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    display: inline-block;
    
}
.cards {
    margin: 10px;

}

table {
    border-collapse: collapse;
    width: 200px;
}

th, td {
    border-bottom: 1px solid #444444;
    text-align: center;
    padding: 5px;
}

.tableTitle {
    border: 3px solid #777777;
    background-color: #777777;
    color: #dddddd;
}

.gameNum {
    background: beige;
    color: #444444;
    line-height: 200px;
    font-size: 3em;
    text-align: center;
    width: 200px;
    height: 200px;
}

.tableTitle.self {
    border: #d4e;
    background-color: #d4e;
    color: #444444;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 720px;
}

.header h3,h2 {
    display: inline-block;
}

.header a {
    text-decoration: none;
    color: black;
}

.ranking_table {
    width: 90%;
    max-width: 720px;
}

tr.highlight {
    background: #ae2abd;
    color: #e2edcc;
}

th {
    background: #444444;
    color: #dddddd;
}

.main_info {
    width: 100%;
    max-width: 540px;
    text-align: left;
}
.main_info p {
    line-height: 1.5em;
    font-size: 1.3em;
    padding: 0;
    margin: 0;
    padding-bottom: 3px;
}